nav {
    width: 960px;
    margin: auto;

}

nav::before{
 content: '' ;
 display: block;
 height: 50px;
 width: 1000%;
 background-color: rgb(179, 0, 0);
 position: absolute;
 left: 0;
 z-index: -1;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 50px;
}                                                            
ul li a{
    float: left;
    color:aliceblue;
    display: block;
    height: 50px;
    padding: 0 8px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 50px;
}
ul li a:hover{
    background-color: rgb(219, 61, 61);
}
body{
    margin: 0;
    font-family:Tahoma,sans-serif;

}
.video{
    position: relative;
    padding-bottom: 56.25%;
}
img {
    float:center;
    padding: 5px;
 }
p { letter-spacing: 1px;
    line-height: 30px;
    text-align: justify;

}
